@import url("https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:wght@200;300;400;500;600;700&display=swap");
/* styles.css */
body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  z-index: 9999; /* Ensure it's on top */
}

.spinner {
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  animation: spin 1.5s linear infinite;
}

.spinner::before,
.spinner::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  border: 6px solid transparent;
}

.spinner::before {
  width: 100%;
  height: 100%;
  border-top-color: #ec1839;
  border-left-color: #fa5b0f;
  animation: spin 1s linear infinite;
}

.spinner::after {
  width: 80%;
  height: 80%;
  top: 10%;
  left: 10%;
  border-top-color: #37b182;
  border-right-color: #1854b4;
  border-bottom-color: #f021b2;
  animation: spin 1.5s linear infinite reverse;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#content {
  display: none;
}

:root {
  --bg-black-900: #f2f2fc;
  --bg-black-100: #fdf9ff;
  --bg-black-50: #e8dfec;
  --text-black-900: #302e4d;
  --text-black-700: #504e70;
}
body.dark {
  --bg-black-900: #151515;
  --bg-black-100: #222222;
  --bg-black-50: #393939;
  --text-black-900: #ffffff;
  --text-black-700: #e9e9e9;
}
body {
  line-height: 1.5;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
}
::before,
::after {
  box-sizing: border-box;
}

ul {
  list-style: none;
}

.section {
  background: var(--bg-black-900);
  min-height: 100vh;
  display: block;
  padding: 0 30px;
  opacity: 1;
  position: fixed;
  left: 270px;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.3s ease;
}
.section.back-section {
  z-index: 1;
}
.section.active {
  z-index: 2;
  opacity: 1;
  animation: slideSection 1s ease;
}
@keyframes slideSection {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}

.hidden {
  display: none !important;
}

.padd-15 {
  padding-left: 15px;
  padding-right: 15px;
}
.container {
  max-width: 1100px;
  width: 100%;
  margin: auto;
}
.section .container {
  padding-top: 60px;
  padding-bottom: 70px;
}
.section-title {
  flex: 0 0 100%;
  max-width: 100%;
  margin-bottom: 60px;
}
.section-title h2 {
  font-size: 40px;
  columns: var(--text-black-900);
  font-weight: 700;
  position: relative;
}
.section-title h2::before {
  content: "";
  height: 4px;
  width: 50px;
  background-color: var(--skin-color);
  position: absolute;
  top: 100%;
  left: 0;
}
.section-title h2::after {
  content: "";
  height: 4px;
  width: 25px;
  background-color: var(--skin-color);
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: 8px;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  position: relative;
}
.btn {
  font-size: 16px;
  font-weight: 500;
  padding: 12px 35px;
  color: white;
  border-radius: 40px;
  display: inline-block;
  white-space: nowrap;
  border: none;
  background: var(--skin-color);
  transition: all 0.3s ease;
  margin-bottom: 28px;
}
.btn:hover {
  transform: scale(1.05);
}
.shadow-dark {
  box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}
/* aside */
.aside {
  width: 270px;
  background: var(--bg-black-100);
  position: fixed;
  left: 0;
  top: 0;
  padding: 30px;
  height: 100%;
  border-right: 1px solid var(--bg-black-50);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  transition: all 0.3s ease;
}
.aside .logo {
  position: absolute;
  top: 50px;
  font-size: 30px;
  text-transform: capitalize;
}
.aside .logo a {
  color: var(--skin-color);
  font-weight: 70;
  padding: 15px 20px;
  font-size: 30px;
  letter-spacing: 5px;
  position: relative;
}
.aside .logo a span {
  font-family: "Clicker Script", cursive;
  font-size: 40px;
  color: var(--skin-color);
}
.aside .logo a::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-bottom: 5px solid var(--skin-color);
  border-left: 5px solid var(--skin-color);
  bottom: 0;
  left: 0;
}
.aside .logo a::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-top: 5px solid var(--skin-color);
  border-right: 5px solid var(--skin-color);
  top: 0;
  right: 0;
}
.aside .nav-toggler {
  height: 40px;
  width: 45px;
  border: 1px solid var(--bg-black-50);
  cursor: pointer;
  position: fixed;
  left: 300px;
  top: 20px;
  border-radius: 5px;
  background: var(--bg-black-100);
  display: none;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}
.aside .nav-toggler span {
  height: 2px;
  width: 18px;
  background: var(--skin-color);
  display: inline-block;
  position: relative;
}
.aside .nav-toggler.open span {
  background-color: transparent;
}
.aside .nav-toggler span::before {
  content: "";
  height: 2px;
  width: 18px;
  background: var(--skin-color);
  position: absolute;
  top: -6px;
  left: 0;
}
.aside .nav-toggler.open span::before {
  transform: rotate(45deg);
  top: 0;
}
.aside .nav-toggler span::after {
  content: "";
  height: 2px;
  width: 18px;
  background: var(--skin-color);
  position: absolute;
  top: 6px;
  left: 0;
}
.aside .nav-toggler.open span::after {
  transform: rotate(-45deg);
  top: 0;
}
.aside .nav {
  margin-top: 50px;
}
.aside .nav li {
  margin-bottom: 20px;
  display: block;
}
.aside .nav li a {
  font-size: 16px;
  font-weight: 600;
  display: block;
  border-bottom: 1px solid var(--bg-black-50);
  color: var(--text-black-900);
  padding: 5px 15px;
}
.aside .nav li a.active {
  color: var(--skin-color);
}
.aside .nav li a i {
  margin-right: 15px;
}
/* home */
.home {
  min-height: 100vh;
  display: flex;
  color: var(--text-black-900);
}

.home .home-info {
  flex: 0 0 60%;
  max-width: 60%;
}
h3.hello {
  font-size: 28px;
  margin: 15px 0;
}
h3.hello span {
  font-family: "Clicker Script", cursive;
  font-size: 30px;
  font-weight: 700;
  color: var(--skin-color);
}
h3.my-profession {
  font-size: 30px;
  margin: 15px 0;
}
.typing {
  color: var(--skin-color);
}

.home-info p {
  margin-bottom: 70px;
  font-size: 20px;
  color: var(--text-black-700);
}
.home .home-img {
  flex: 0 0 40%;
  max-width: 40%;
  text-align: center;
  position: relative;
}
.home-img::after {
  content: "";
  position: absolute;
  height: 80px;
  width: 80px;
  border-bottom: 10px solid var(--skin-color);
  border-right: 10px solid var(--skin-color);
  right: 20px;
  bottom: -40px;
}
.home-img::before {
  content: "";
  position: absolute;
  height: 80px;
  width: 80px;
  border-top: 10px solid var(--skin-color);
  border-left: 10px solid var(--skin-color);
  left: 20px;
  top: -40px;
}

.home .home-img img {
  margin: auto;
  height: 370px;
}
/* About */
.about .about-content {
  flex: 0 0 100%;
  max-width: 100%;
}
.about .about-content .about-text {
  flex: 0 0 100%;
  max-width: 100%;
}
.about .about-content .about-text h3 {
  font-size: 24px;
  margin-bottom: 15px;
  font-weight: 700;
  color: var(--text-black-900);
}
.about .about-content .about-text h3 span {
  color: var(--skin-color);
}
.about .about-content .about-text p {
  font-size: 16px;
  line-height: 25px;
  color: var(--text-black-700);
}
.about .about-content .personal-info {
  flex: 0 0 60%;
  max-width: 60%;
  margin-top: 40px;
}
.about .about-content .personal-info .info-item {
  flex: 0 0 50%;
  max-width: 50%;
}
.about .about-content .personal-info .info-item p {
  font-weight: 600;
  padding: 10px;
  font-size: 16px;
  color: var(--text-black-900);
  border-bottom: 1px solid var(--bg-black-50);
}
.about .about-content .personal-info .info-item p span {
  font-weight: 400;
  color: var(--text-black-700);
  margin-left: 4px;
  display: inline-block;
}
.about .about-content .personal-info .buttons {
  margin-top: 30px;
}
.about .about-content .personal-info .buttons .btn {
  margin-top: 10px;
}
.about .about-content .skills {
  flex: 0 0 40%;
  max-width: 40%;
  margin-top: 40px;
}
.about .about-content .skills .skill-item {
  flex: 0 0 100%;
  max-width: 100%;
}
.about .about-content .skills .skill-item h5 {
  line-height: 40px;
  font-weight: 600;
  font-size: 16px;
  color: var(--text-black-900);
  text-transform: capitalize;
}
.about .about-content .skills .skill-item .progress {
  background-color: var(--bg-black-50);
  height: 7px;
  border-radius: 4px;
  width: 100%;
  position: relative;
}
.about .about-content .skills .skill-item {
  margin-bottom: 25px;
}
.about .about-content .skills .skill-item .progress .progress-in {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  border-radius: 4px;
  background-color: var(--skin-color);
}
.about .about-content .skills .skill-item .skill-percent {
  position: absolute;
  right: 0;
  color: var(--text-black-900);
  top: -40px;
  font-weight: 400;
  line-height: 40px;
}
.about .about-content .education,
.about .about-content .experience {
  flex: 0 0 50%;
  max-width: 50%;
  margin-top: 30px;
}
.about .about-content h3.title {
  font-size: 24px;
  margin-bottom: 30px;
  font-weight: 700;
  color: var(--text-black-900);
}
.about .about-content .timeline-box {
  flex: 0 0 100%;
  max-width: 100%;
}
.about .about-content .timeline {
  background-color: var(--bg-black-100);
  padding: 30px 15px;
  border: 1px solid var(--bg-black-50);
  border-radius: 10px;
  width: 100%;
  position: relative;
}
.about .about-content .timeline .timeline-item {
  position: relative;
  padding-left: 37px;
  padding-bottom: 50px;
}
.about .about-content .timeline .timeline-item:last-child {
  padding-bottom: 0;
}
.about .about-content .timeline .timeline-item::before {
  content: "";
  width: 1px;
  position: absolute;
  height: 100%;
  left: 7px;
  top: 0;
  background-color: var(--skin-color);
}
.about .about-content .timeline .circle-dot {
  position: absolute;
  left: 0;
  top: 0;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: var(--skin-color);
}
.about .about-content .timeline .timeline-date {
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 12px;
  color: var(--text-black-700);
}
.about .about-content .timeline .timeline-date .fa {
  margin-right: 5px;
}
.about .about-content .timeline .timeline-title {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 15px;
  text-transform: capitalize;
  color: var(--text-black-900);
}
.about .about-content .timeline .timeline-text {
  line-height: 25px;
  font-size: 16px;
  text-align: justify;
  color: var(--text-black-700);
}
/* service */
.service .container {
  padding-bottom: 40px;
}
.service .service-item {
  margin-bottom: 30px;
  flex: 0 0 33.33%;
  max-width: 33.33%;
}
.service .service-item .service-item-inner {
  background-color: var(--bg-black-100);
  border: 1px solid var(--bg-black-50);
  border-radius: 10px;
  padding: 30px 15px;
  text-align: center;
  transition: all 0.3s ease;
}
.service .service-item .service-item-inner:hover {
  box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}
.service .service-item .service-item-inner .icon {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  display: block;
  margin: 0 auto 30px;
  text-align: center;
  transition: all 0.3s ease;
}
.service .service-item .service-item-inner .icon .fa {
  font-size: 40px;
  line-height: 60px;
  color: var(--skin-color);
  transition: all 0.3s ease;
}
.service .service-item .service-item-inner:hover .icon {
  background: var(--skin-color);
}
.service .service-item .service-item-inner:hover .icon .fa {
  font-size: 25px;
  color: #ffffff;
}
.service .service-item .service-item-inner h4 {
  font-size: 18px;
  margin-bottom: 15px;
  color: var(--text-black-900);
  font-weight: 700;
  text-transform: capitalize;
}
.service .service-item .service-item-inner p {
  font-size: 16px;
  color: var(--text-black-700);
  line-height: 25px;
}
/* portfolio */
.portfolio .container {
  padding-bottom: 40px;
}
.portfolio .portfolio-heading {
  flex: 0 0 100%;
  max-width: 100%;
  margin-bottom: 40px;
}
.portfolio .portfolio-heading h2 {
  color: var(--text-black-900);
  font-weight: 500;
}
.portfolio .portfolio-item {
  flex: 0 0 33.33%;
  max-width: 33.33%;
  margin-bottom: 30px;
}
.portfolio .portfolio-item-inner {
  border: 6px solid var(--bg-black-100);
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
}
.portfolio .portfolio-item-inner .portfolio-img img {
  width: 100%;
  display: block;
}
/* Contact */
.contact-title {
  color: var(--skin-color);
  text-align: center;
  font-size: 25px;
  margin-bottom: 20px;
}
.contact-sub-title {
  color: var(--text-black-900);
  text-align: center;
  font-size: 15px;
  margin-bottom: 60px;
}
.contact .contact-info-item {
  flex: 0 0 25%;
  max-width: 25%;
  text-align: center;
  margin-bottom: 60px;
}
.contact .contact-info-item .icon {
  display: inline-block;
}
.contact .contact-info-item .icon .fa {
  font-size: 25px;
  color: var(--skin-color);
}
.contact .contact-info-item h4 {
  font-size: 18px;
  font-weight: 700;
  color: var(--text-black-900);
  text-transform: capitalize;
  margin: 15px 0 5px;
}
.contact .contact-info-item p {
  font-size: 16px;
  line-height: 25px;
  color: var(--text-black-700);
  font-weight: 400;
}
.contact .contact-form {
  flex: 0 0 100%;
  max-width: 100%;
}
.contact .contact-form .col-6 {
  flex: 0 0 50%;
  max-width: 50%;
}
.contact .contact-form .col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}
.contact .contact-form .form-item {
  margin-bottom: 30px;
}
.contact .contact-form .form-item .form-control {
  width: 100%;
  height: 50px;
  border-radius: 25px;
  background: var(--bg-black-100);
  border: 1px solid var(--bg-black-50);
  padding: 10px 25px;
  font-size: 16px;
  color: var(--text-black-700);
  transition: all 0.3s ease;
}
.contact .contact-form .form-item .form-control:focus {
  box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}
.contact .contact-form .form-item textarea.form-control {
  height: 140px;
}
.contact .contact-form .btn {
  height: 50px;
  padding: 0 50px;
}

.whatsapp {
  position: fixed;
  bottom: 150px;
  right: 40px;
}
.social-media {
  position: fixed;
  bottom: 15px;
  left: 38%;
  display: flex;
  align-items: center;
  z-index: 1000; /* Ensure it's above other content */
}
.social-media p {
  font-size: 17px;
  color: var(--text-color);
  margin-top: 0 10px;
}
.social-media i {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  width: 45px;
  background: var(--bg-black-100);
  box-shadow: 0px 20px 40px #00000070;
  border: 1px solid #3b3b3b;
  border-radius: 50%;
  color: #1b1213;
  font-size: 20px;
  margin: 0 7px;
  transition: all 0.6s ease-in-out;
}
.social-media i:hover {
  transform: translateY(-10px);
}

/* Ensure the container adjusts on smaller screens if necessary */
@media (max-width: 720px) {
  .social-media {
    flex-direction: row; /* Adjust the direction of icons if needed */
  }
}

/* Add a class for each color option */
.social-media i.color-1 {
  background: #ec1839;
}

.social-media i.color-2 {
  background: #fa5b0f;
}

.social-media i.color-3 {
  background: #37b182;
}

.social-media i.color-4 {
  background: #1854b4;
}

.social-media i.color-5 {
  background: #f021b2;
}

.slider-container {
  position: relative;
  overflow: hidden;
}

.slide {
  display: none;
}

.active {
  display: block;
}

.slider-dots {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #ccc;
  border-radius: 50%;
  margin: 0 5px;
}

.active-dot {
  background-color: #555;
}

@media (max-width: 1199px) {
  .section .container {
    padding-top: 70px;
  }
  .aside {
    left: -270px;
  }
  .main-content {
    padding-left: 0;
  }
  .aside.open {
    left: 0;
  }
  .aside .nav-toggler {
    display: flex;
    left: 30px;
  }
  .aside .nav-toggler.open {
    left: 300px;
  }
  .section {
    left: 0;
  }
  .section.open {
    left: 270px;
  }
  .about .about-content .personal-info .info-item p span {
    display: block;
    margin-left: 0;
  }
}
.home-img::after {
  right: 5px;
  bottom: -40px;
}
@media (max-width: 991px) {
  .contact .contact-info-item,
  .portfolio .portfolio-item,
  .service .service-item {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .home .home-info {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .home .home-img {
    display: flex;

    margin: auto;
    flex-wrap: wrap;
    order: 2;
    flex-direction: column;

    height: 370px;
    vertical-align: middle;
    text-align: center;
    margin: 20px;
  }
  .home-img::after {
    position: 5px right;
  }

  .btn {
    margin-bottom: 30px;
  }

  .home-img::before {
    left: 7px;
    top: -9px;
  }

  .home-img::after {
    position: 5px right;
    position: absolute;
    right: -160px;
    bottom: -30px;
  }
  .social-media {
    position: fixed;
    bottom: 10px;
    left: 20%;
  }
  .social-media i {
    height: 35px; /* Reduce the height of the icon */
    width: 35px; /* Reduce the width of the icon */
    border-radius: 45%; /* Adjust the border radius for a less rounded corner */
    font-size: 16px; /* Reduce the font size of the icon */
  }
}
@media (max-width: 767px) {
  .contact .contact-form .col-6,
  .contact .contact-info-item,
  .portfolio .portfolio-item,
  .service .service-item,
  .about .about-content .experience,
  .about .about-content .education,
  .about .about-content .skills,
  .about .about-content .personal-info {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .home .home-img {
    justify-content: center;
  }

  .home .home-img img {
    margin: auto;
    flex-wrap: wrap;
    order: 2;
    flex-direction: column;

    margin: auto;
    height: 370px;
    vertical-align: middle;
    text-align: center;
    margin: 20px;
  }
}
.popup {
  display: none;
  position: fixed;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fffffffd;
  padding: 20px;
  border: 2px solid #333;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.popup-content {
  text-align: center;
}

.popup h2 {
  margin-top: 0;
}

.popup p {
  margin-bottom: 0;
}
.close-btn {
  position: absolute;
  top: 0;
  right: 2px;
  cursor: pointer;
  font-size: 30px;
}

.close-btn:hover {
  color: #ec1839; /* Change color on hover if needed */
}

.logo-marquee {
  margin-top: auto;
}

.logo-marquee img {
  margin-right: 20px;
  margin-top: 5px;
  margin-bottom: 10px;
}
.logo-marquee {
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
  width: 100%;
  padding: 10px 0;
  background: #f0f0f0;
}

.logo-marquee .marquee-content {
  display: inline-block;
  animation: marquee 20s linear infinite;
}

.logo-marquee img {
  margin: 0 10px;
  height: 50px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.logo-marquee img:hover {
  transform: scale(1.2);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.pulse-logo {
  animation: pulse 2s infinite;
}

.pulse-logo {
  animation: pulse 2s infinite;
}

.pulse-logo {
  animation: pulse 2s infinite;
}

.youtube-video {
  text-align: center;
  margin: 20px 0;
  border: 5px solid #333;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 10px;
  background-image: url("your-background-image.jpg");
  background-size: cover;
  animation: fadeIn 2s ease-in-out;
  margin-bottom: 70px;
}
.youtube-video:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
}
.video-caption {
  font-size: 1.2em;
  color: #555;
  text-align: center;
  margin-top: 10px;
}
.video-actions {
  text-align: center;
  margin-top: 10px;
}
.action-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 0 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}
.action-button:hover {
  background-color: #0056b3;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.youtube-video {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
  height: 0;
  overflow: hidden;
  max-width: 100%;
  background: #000;
  margin: 20px 0;
  text-align: center;
}

.youtube-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video-caption {
  margin-top: 10px;
  font-size: 1.2em;
}

.video-actions {
  margin-top: 10px;
}

.action-button {
  display: inline-block;
  padding: 10px 20px;
  margin: 5px;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.action-button:hover {
  background-color: #0056b3;
}

.portfolio-item-inner {
  padding: 15px;
  background: #fff;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 30px;
  transition: transform 0.3s ease;
}

.portfolio-item-inner:hover {
  transform: scale(1.05);
}

.portfolio-img img {
  width: 100%;
  border-radius: 10px;
  cursor: pointer;
}

.portfolio-content {
  margin-top: 15px;
}

.technology-used {
  font-size: 0.9em;
  color: #888;
  margin-bottom: 5px;
}

.project-title {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 10px;
}

.project-description {
  font-size: 1em;
  color: #555;
  margin-bottom: 15px;
}
.btn-group .btn {
  font-size: 14px;
  display: inline-block;
  justify-content: center;
  gap: 13px;
  padding: 10px 20px;
}
/* Modal Styles */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

.modal-content,
.close {
  animation: zoom 0.6s;
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* Contact Me Icon Styles */
.icon-bar {
  position: relative;
  width: 50%; /* Full-width */
  overflow: none; /* Overflow due to float */
  align-items: center;
  justify-content: center;
  left: 30%;
  margin-bottom: -2px;
}

.icon-bar a {
  float: left; /* Float links side by side */
  text-align: center; /* Center-align text */
  width: 10%; /* Equal width (5 icons with 20% width each = 100%) */
  padding: 12px 0; /* Some top and bottom padding */
  transition: all 0.3s ease; /* Add transition for hover effects */
  color: white; /* White text color */
  font-size: 36px; /* Increased font size */
}

.icon-bar a:hover {
  background-color: #000; /* Add a hover color */
}

/* Existing styles for the icon-bar icons */
.icon-bar i {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  width: 35px;
  background: var(--bg-black-100);
  box-shadow: 0px 20px 40px #00000070;
  border: 1px solid #3b3b3b;
  border-radius: 50%;
  color: #1b1213;
  font-size: 20px;
  margin: 0 7px;
  transition: all 0.6s ease-in-out;
}

/* Media query for small screens */
@media (max-width: 610px) {
  .icon-bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .icon-bar a {
    margin: 5px;
  }
}

/* Media query for small screens */
@media (max-width: 600px) {
  .icon-bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .icon-bar i {
    margin: 5px;
  }
}
/* Add a class for each color option */
.icon-bar i.color-1 {
  background: #ec1839;
}

.icon-bar i.color-2 {
  background: #fa5b0f;
}

.icon-bar i.color-3 {
  background: #37b182;
}

.icon-bar i.color-4 {
  background: #1854b4;
}

.icon-bar i.color-5 {
  background: #f021b2;
}
/* Ensure responsiveness */
@media (max-width: 720px) {
  .icon-bar a {
    font-size: 20px; /* Adjust icon size for smaller screens */
    margin: 0 5px; /* Adjust spacing for smaller screens */
  }
}

/* Media query for Samsung Galaxy S8+ */
@media only screen and (max-width: 360px) and (max-height: 740px) {
  .icon-bar {
    padding: 5px 0; /* Adjust padding for smaller screen */
  }
}

/* Overlay text styles */
.portfolio-img {
  position: relative;
  cursor: pointer;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
  color: white; /* Text color */
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out; /* Smooth transition */
  font-size: 20px; /* Adjust font size as needed */
  font-weight: bold; /* Make text bold */
  text-align: center; /* Center align text */
}

.portfolio-img:hover .overlay {
  opacity: 1; /* Show overlay on hover */
}

/* Optional: Adjust the portfolio image hover effect to ensure the overlay is always on top */
.portfolio-img img {
  transition: transform 0.3s ease-in-out;
}

.portfolio-img:hover img {
  transform: scale(1.05); /* Slightly zoom the image on hover */
  z-index: -1; /* Ensure the image is below the overlay */
}
.filter-buttons .btn.active {
  color: white;
  background-color: #494848; /* Example of active button background color */
}

/*   Particles.JS */
#bg {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}
